header {
    background: #FF0110;
    padding: 20px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.logo {
    width: 55%;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}